@model SuiteExecution
@{
    ViewData["Title"] = "Details";
}

<div class="modal-content">
    <div class="modal-header bg-blueberry">
        <h5 class="modal-title"><i class="fa fa-circle-info"></i> @ViewBag.Title</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="h5 mb-2 mt-2"><i class="fa fa-clipboard-list"></i> Test suite execution information</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-bordered table-striped" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.BusinessProcess.TestApplication.Name):</th>
                                    <td><span id="testApplicationName"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.BusinessProcess.TestApplication.Description):</th>
                                    <td><span id="testApplicationDescription"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.BusinessProcess.Name):</th>
                                    <td><span id="businessProcessName"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.BusinessProcess.Description):</th>
                                    <td><span id="businessProcessDescription"></span></td>
                                </tr>
                                <tr>
                                    <th>Test cases executed:</th>
                                    <td><span id="testCasesExecuted"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.ExecutionDate):</th>
                                    <td><span id="executionDate"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.Remarks):</th>
                                    <td><span id="executionRemarks"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="h5 mb-2 mt-2"><i class="fa fa-user"></i> Executor information</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-bordered table-striped" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.User.DisplayName):</th>
                                    <td><span id="executor"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.User.Company.Name):</th>
                                    <td><span id="company"></span></td>
                                </tr>
                                <tr>
                                    <th>Role:</th>
                                    <td><span id="role"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.User.Email):</th>
                                    <td><span id="email"></span></td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(suiteExecution => suiteExecution.User.PhoneNumber):</th>
                                    <td><span id="phoneNumber"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>